<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create DevCard</title>
    <script>
        const generateID = () => {
            let id = "";
            const characters = "abcdefghijklmnopqrstuvwxyz0123456789";
            for (let index = 0; index < 5; index++) {
                id += characters.charAt(Math.floor(Math.random()*characters.length));
            }
            document.getElementById("userID").value = id;
        }
    </script>
</head>
<body>
    <h2>Create your DevCard</h2>
    <form action="http://localhost:8007/createuser" method="post" onsubmit="generateID()">
        <input id="fullName" placeholder="Full Name" type="text" name="fullName"><br><br>
        <textarea id="aboutMe" placeholder="About Me" name="aboutMe" rows="3" cols="30"></textarea><br><br>
        <h3>Technologies You Know:</h3><br>
        <input id="HTML" type="checkbox" name="HTML">
        <label>HTML</label><br><br>
        <input id="CSS" type="checkbox" name="CSS">
        <label>CSS</label><br><br>
        <input id="Sass" type="checkbox" name="Sass">
        <label>Sass</label><br><br>
        <input id="JS" type="checkbox" name="JS">
        <label>JS</label><br><br>
        <input id="Node.js" type="checkbox" name="Node JS">
        <label>Node.js</label><br><br>
        <input id="React" type="checkbox" name="React">
        <label>React</label><br><br>
        <input id="Gulp" type="checkbox" name="Gulp">
        <label>Gulp</label><br><br>
        <input id="Git" type="checkbox" name="Git">
        <label>Git</label><br><br>
        <input id="NPM" type="checkbox" name="NPM">
        <label>NPM</label><br><br>
        <input id="PHP" type="checkbox" name="PHP">
        <label>PHP</label><br><br>
        <input id="githubUrl" placeholder="GitHub URL" type="text" name="githubUrl"><br><br>
        <input id="TwitterUrl" placeholder="Twitter URL" type="text"name="twitterUrl"><br><br>
        <input id="favoriteBooks" placeholder="Favorite Books (Seperate by comma)" type="text" name="favoriteBooks"><br><br>
        <input id="userID" type="hidden" name="userID">
        <input type="submit" value="Create Site">
      </form>
</body>
</html>